---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<h1>Banners:</h1>
	<ol class="pages">
	    <li><a href="android-320.html" target="_blank">Android-320</a></li>
	    <li><a href="android-768.html" target="_blank">Android-768</a></li>
	    <li><a href="ios-320.html" target="_blank">iOS-320</a></li>
	    <li><a href="ios-768.html" target="_blank">iOS-768</a></li>
	    <li><a href="windows-320.html" target="_blank">Windows-320</a></li>
	    <li><a href="windows-768.html" target="_blank">Windows-768</a></li>
	</ol>
{% endblock %}
