---
title: Windows-320
---
{% extends "layouts/_layout.html" %}

{% block content %}
<div class="app-badge">
    <div class="app-badge__container">
        <button class="app-badge__btn_close">{{mixins.icon('cancel')}}</button>
        <div class="app-badge__container_inner">
            <p class="app-badge__message app-badge__message_mobile">Через додаток буде швидше та зручніше</p>
            <div class="app-badge__image app-badge__image_windows-mob" style="background-image: url(img/windows-320.png)"></div>
            <button class="app-badge__btn_open">Відкрити в додатку</button>
        </div>
    </div>
</div>
{% endblock %}